@media screen and (min-width: 1150px)
{
    /* ------------------ NAV ------------- */
    #menu .nav-a{
        font-size: 20px;
    }
    /* ------------------ BANNER ------------- */
    #banner{
    display:block; 
    }
  
    /* ------------------ SECTION INFORMATIONS ------------- */
    #informations{
        display: flex;
        justify-content: space-between;
    }
    #informations section{
        width: 50%;
        padding: 20px;
    }
    #informations #contact{
        border-bottom: none;
        border-right: 1px solid var(--dark-color);
    }
}