*{
    box-sizing: border-box;
}
img{
    margin:10px;
}

section h1{
    color: black;
}

section{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.filterSection{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.navbar{
    justify-content: flex-end;
}

.navbar a{
    margin : 0.2em;
}

article{
    min-width: 350px;
    /* width: 80vw; */
    border: 1px solid #b2bfca;
    padding: 1em;
    margin: 1em;
    display: flex;
    align-items: center;
}
.winePhoto{
    width: auto;
    height: 300px;
}
.productName{
    color:black;
    font-size: 22px;
}
input{
    width: 35px;
    margin-right:-5px;
    padding: 3.75px;
    border: none;
    width: 25%;
}
.qteAdd{
    border: 1px solid #6c757d;
    border-radius: .25rem;
    margin:0;
    width: 230px;
    height: 40px;
    margin-bottom: 16px;
}
.cartAdd{
    width: 75%;
    margin:0;
}
div.address{
    border: 1px solid black;
    padding: 15px;
    width : 350px;
    margin: 30px;
}
#checkout-button{

    margin-right: 50%;
    margin-left: 50%;
    
}

@media (min-width:768px)
{
    article{
        width:45vw
    }

}
@media (min-width:1300px)
{
    article{
        width:25vw
    }
    div.container-address{
        display: flex;
        justify-content: center;
        
    }


}