*{
    box-sizing: border-box;
}
/* #wrapper{
    min-height: 100vh;
} */
section{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.alert{
    margin:0;
}
/* img{
    margin: 10px;
} */


.dropdown-menu>a:hover{
    background-color:#3c4247;
}

div.address{
    border: 1px solid black;
    padding: 15px;
    width : 350px;
    margin: 30px;
}
#checkout-button{

    margin-right: 50%;
    margin-left: 50%;
    
}
/* ------------------------ Section Filters --------------------------- */
#sectionFilters{
    position: sticky;
    top: 56px; /* taille de la navbar */
}
.filterDropdown, .sortedDropdown{
    width: 50%;
}
.filterButton, .sortedButton{
    width: 100%;
    border-radius: 0; 
}
.form-check-input{
    position: inherit;
}
.filterContainer, .sortedContainer{
    padding: 0 1em 1em 1em;
}
#filter_submit{
    width: 100%;
}
.sortedContainer>a{
    width: 100%;
    border-bottom: 1px solid #b2bfca;
}

/* -------------------------- Store -----------------------*/

#sectionProducts{
    padding: 1em;
}
#productHeader{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

article{
    border: 1px solid #b2bfca;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
}
.winePhoto{
    width: auto;
    height: 300px;
    margin: 0 1em 0 0;
    
}
.productName{
    font-size: 22px;
}
.priceAndAvailableProduct{
    display:flex;
    justify-content: space-between;
}
.qteAdd{
    width: 100%;
    display: flex;
}
input{
    width: 20%;
}
.cartAdd{
    width: 80%;
}
.redColor{
    color:red;
}
.greenColor{
    color:green;
}
#productFooter{
    width:100%;
    display: flex;
    justify-content: center;
}
/* ---------------------------- Cart ----------------  */
#cartHeader{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#cartHeader>h1{
    font-size: 25px;
    padding: 1em;
}
.cartSection{
    justify-content: space-evenly;
    align-items: baseline;
}
#cartFooter{
    position: sticky;
    bottom: 0;
    background-color: rgba(93, 92, 92, 0.815);
    width: 100%;
    text-align: center;
}
.cartButton{
    width: 100%;
}
.cartRemoveButton{
    height: 30px;
}
.descProduct>h2{
    font-size: 20px;
}

/* ---------------------------- Login & Register ----------------  */
#sectionLogin form, #sectionRegister form{
    width: 100%;
    padding: 1.5em; 
}
#sectionLogin form input, #sectionRegister form input{
    margin-bottom: 1em;
}
#sectionLogin form input::placeholder, #sectionRegister form input::placeholder{
    font-style: italic;
}
#sectionLogin form button, #sectionRegister form button{
    width: 100%;
}
#registerButton{
    margin-top: 1em;
}

/* ---------------------------- User ----------------  */
#sectionInfos, #sectionAddresses, #sectionPassword{
    padding: 1em;
    
}
#sectionInfos h2, #sectionAddresses h2, #sectionPassword h2{
    width: 100vw;
    text-align: center;
}
#sectionInfos form, #sectionPassword form{
    width: 100vw;
}
#sectionInfos form button, #sectionPassword form button{
    display: block;
    margin: auto;
}
.adressesContainer{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.addressContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin: 16px;
    padding: 10px;
    border: 1px solid #b2bfca;
}
.addressContainer p{
    width: 45vw;
}
.addressContainer a{
    height: 38px;
}



/* ---------------------------- Footer ----------------  */


/* -----------------------------Responsive ------------------- */
 @media (min-width:900px)
{
/* --------- Store -------------*/
    #sectionProducts{
        flex-wrap: wrap;
    }
    article{
        width:40vw;
        margin: 0 1em 1em 0;
    }
    /* --------- Cart -------------*/
    #cartFooter{
        width: 100%;
    }
    /* ---------------------------- Login ----------------  */
    #sectionLogin form, #sectionRegister form, #sectionInfos form, #sectionPassword form{
        width: 60%;
    } 
    /* ---------------------------- User ----------------  */

    .addressContainer{
        width: 45vw;
    }



} 
 @media (min-width:1450px)

{
    div.container-address{
        display: flex;
        justify-content: center;
    }
    /* --------- Store -------------*/
    article{
        width:25vw;
    }
    /* --------- Cart -------------*/

    /* ---------------------------- Login ----------------  */
    #sectionLogin form, #sectionRegister form, #sectionInfos form, #sectionPassword form{
        width: 45%;
    } 
    .addressContainer{
        width: 25vw;
    }


} 