:root{
    --light-color: #E3D7C8;
    --inter-color: #7D766E;
    --dark-color: #3D3A36;
}

*{
    box-sizing: border-box;
    font-family: belleza;
    font-size: 20px;
}
/* ------------------ BTN ------------- */
/* .btn{
    background-color: var(--inter-color);
    color:white;
    border-color: var(--inter-color);
} */
/* .btn:hover, .btn:active{
    background-color: var(--dark-color);
    border-color: var(--dark-color);
    color: var(--light-color);
} */

section{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.alert{
    margin:0;
}
/* ------------------ NAV ------------- */
#cart-button{
    position:relative;
}
.badge{
    position:absolute;
    margin-left: -5px;
    margin-top: -8px;
    padding-right: 0;
}
/* #menu>a{
    /* align-self: center; */
    /* padding: 10px; 
} */
/* #menu, #underMenu{
    background-color: var(--dark-color);
} */
/* #underMenu>a:hover, #underMenu>a:active{
color:var(--light-color);
background-color: var(--inter-color);
}
#menu>a{
    text-transform: uppercase;
} */
/* #menu .nav-a{
    color: var(--light-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}
#menu>.nav-a{
    font-size: 14px;
} */


div.address{
    border: 1px solid black;
    padding: 15px;
    width : 350px;
    margin: 30px;
}
#checkout-button{

    margin-right: 50%;
    margin-left: 50%;
    
}
/* ------------------------ Section Filters --------------------------- */
#sectionFilters{
    position: sticky;
    top: 53px; /* taille de la navbar */
}
.filterDropdown, .sortedDropdown{
    width: 50%;
}
#sectionFilters .filterButton, .sortedButton{
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: var(--inter-color);
}
.form-check-input{
    position: inherit;
}
.filterContainer{
    padding: 0 1em 1em 1em;
}


/* -------------------------- Store -----------------------*/

#sectionProducts{
    padding: 1em;
}
#productHeader{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

article{
    border: 1px solid #b2bfca;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
}
.winePhoto{
    width: auto;
    height: 300px;
    margin: 0 1em 0 0;
}
.productContainer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.adminButtonContainer{
    width: 100%;
    padding: 10px;
    text-align: center;
}
.productName{
    font-size: 22px;
}
.priceAndAvailableProduct{
    display:flex;
    justify-content: space-between;
}
.qteAdd{
    width: 100%;
    display: flex;
}
input{
    width: 20%;
}
.cartAdd{
    width: 80%;
}

#productFooter{
    width:100%;
    display: flex;
    justify-content: center;
}
/* ---------------------------- Cart ----------------  */
#cartHeader{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#cartHeader>h1{
    font-size: 25px;
    padding: 1em;
}
.cartSection{
    justify-content: space-evenly;
    align-items: baseline;
}
#cartFooter{
    position: sticky;
    bottom: 0;
    background-color: rgba(93, 92, 92, 0.555);
    width: 100%;
    text-align: center;
}
.cartButton{
    width: 100%;
}
.cartRemoveButton{
    height: 30px;
}
.descProduct>h2{
    font-size: 20px;
}

/* ---------------------------- Login & Register ----------------  */
#sectionLogin form, #sectionRegister form{
    width: 100%;
    padding: 1.5em; 
}
#sectionLogin form input, #sectionRegister form input{
    margin-bottom: 1em;
}
#sectionLogin form input::placeholder, #sectionRegister form input::placeholder{
    font-style: italic;
}
#sectionLogin form button, #sectionRegister form button{
    width: 100%;
}
#registerButton{
    margin-top: 1em;
}

/* ---------------------------- User ----------------  */
#sectionInfos, #sectionAddresses, #sectionPassword{
    padding: 1em;
    
}
#sectionInfos h2, #sectionAddresses h2, #sectionPassword h2{
    width: 100vw;
    text-align: center;
}
#sectionInfos form, #sectionPassword form{
    width: 100vw;
}
#sectionInfos form button, #sectionPassword form button{
    display: block;
    margin: auto;
}

.adressesContainer{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.addressContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin: 16px;
    padding: 10px;
    border: 1px solid #b2bfca;
}
.addressContainer p{
    width: 45vw;
}
.addressContainer a{
    height: 38px;
}
/* ---------------------------- Section Choose Addresses & AddAdressSection & RecapSection & Facture Section----------------  */

#chooseAddressesSection, #AddAddressSection, #recapSection, #factureSection{
    padding: 1em;
    
}
#chooseAddressesSection h1, #chooseAddressesSection>div, #AddAddressSection h1, 
#AddAddressSection div, #recapSection h2, #recapSection h3, #factureSection h1, #factureSection h3, #factureSection p{
    width: 100%;
}
#factureSection p {
    text-align: center;
}



/* ---------------------------- Footer ----------------  */


/* -----------------------------Responsive ------------------- */
 @media (min-width:900px)
{
    /* ------------------ NAV ------------- */
    #menu .nav-a{
        font-size: 16px;
    }
/* --------- Store -------------*/
    #sectionProducts{
        flex-wrap: wrap;
    }
    article{
        width:40vw;
        margin: 0 1em 1em 0;
    }
    /* --------- Cart -------------*/
    #cartFooter{
        width: 100%;
    }
    /* ---------------------------- Login ----------------  */
    #sectionLogin form, #sectionRegister form, #sectionInfos form, #sectionPassword form{
        width: 60%;
    } 
    /* ---------------------------- User ----------------  */

    .addressContainer{
        width: 45vw;
    }
    /* ---------------------------- Section Choose Addresses & AddAdress & RecapSection ----------------  */

    #chooseAddressesSection form, #AddAddressSection form{
        width: 60%;
        margin:auto
    }
    #recapSection .container-address, #factureSection .container-address {
        display: flex;
    }



} 
 @media (min-width:1450px)

{
    #menu .nav-a{
        font-size: 20px;
    }
    div.container-address{
        display: flex;
        justify-content: center;
    }
    /* --------- Store -------------*/
    article{
        width:25vw;
    }
    /* --------- Cart -------------*/

    /* ---------------------------- Login ----------------  */
    #sectionLogin form, #sectionRegister form, #sectionInfos form, #sectionPassword form{
        width: 45%;
    } 
    .addressContainer{
        width: 25vw;
    }


} 