{% extends 'base.html.twig' %}

{% block title %}Ajouter/Modifier un produit{% endblock %}

{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <section id="AddProductSection">
    <h1 class="h3 mb-3 font-weight-normal text-center">Ajouter un produit</h1>
        {{ form(formProduct) }}
    </section>
{% endblock %}