{% extends 'base.html.twig' %}

{% block title %}Ajouter/Modifier un produit{% endblock %}

{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <section id="AddProductSection">
    <h2>Ajouter un produit</h2>
        {{ form(formProduct) }}
    </section>
{% endblock %}