{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Une erreur est survenue lors de votre commande</h1>
    <p>Retourner à votre <a href="{{ path('cart_index') }}">panier</a>.</p>
{% endblock %}

