{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}
{% block stylesheets %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block body %}
<h1>Error</h1>
{% endblock %}

