{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}}}{% endblock %}

{% block body %}
    {% block nav %}{{ parent() }}{% endblock %}

        <p>{{ product.name }}</p>
    {% block footer %}{{ parent() }}{% endblock %}
{% endblock %}
