{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <section id="chooseAddressesSection">
        <h1 class="h3 mb-3 font-weight-normal text-center">Choisir mes adresses de livraison et de facturation</h1>
        <div class="text-center">
            <a href="{{ path('address_add') }}" class="btn btn-primary">Ajouter une adresse</a>
        </div>
        <div>
            {{ form(formOrder) }}
        </div>
    </section>

{% endblock %}